@model IEnumerable<RazorPagesMovie.Models.Reservations>

<div class="table-wrapper">
   
    <table class="fl-table">
        <thead>
            <tr>
                <th>ID</th>             
                <th>Name</th>            
                <th>Checkin Date</th>
                <th>Checkout Date</th>             
                <th>Rooms</th>
                <th>Currency</th>
                <th>Final Amount</th>
                <th>3rd Party ?</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody id="reservationGrid">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>               
                    <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>                
                    <td>@Html.DisplayFor(modelItem => item.CheckInDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpectedCheckOutDate)</td>                    
                    <td>@Html.DisplayFor(modelItem => item.SelectedRoomsNos)</td>
                    <td>@Html.DisplayFor(modelItem => item.SelectedCurrency)</td>
                    <td style="text-align: right;">@Html.DisplayFor(modelItem => item.TotalFinalAmount)</td>
                    <td>

                        @{
                            // Use the boolean property directly
                            string IsThirdPartyBookingText = item.IsThirdPartyBooking ? "Yes" : "No";
                        }
                        @IsThirdPartyBookingText
                    
                    </td>
                     <td>
                        <button type="button" class="btn btn-warning btn-sm"
                                onclick="showCustomerInfop('@item.CustomerName', '@item.NIN', '@item.Address', '@item.Country', '@item.Mobile','@item.ThirdPartyHandlerId' ,'@item.BookingReference' ,'@item.Email'  ,'@item.GuestCount', '@item.DiscountedPrice', '@item.IsThirdPartyBooking')">
                            Info
                        </button>
                    </td> 
                 
                    <td>
                        <a asp-page="/Billing/Index" asp-route-id="@item.Id" class="btn btn-info btn-sm">Billing</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
