@page
@model RazorPagesMovie.Pages.BeverageData.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beverage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage.BeverageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage.BeverageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage.BeverageDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage.BeverageDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Beverage.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
