@page
@model RazorPagesMovie.Pages.ThirdParty.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/table.css" />
<div class="card mb-2" id="headbox">
    <div class="card-body text-center">
        <h2 class="m-0 display-6 display-md-5 display-lg-4">Third Party Handlers / Companies</h2>
    </div>
</div>


<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<div class="table-wrapper">
    <table class="fl-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPartyHandlers[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPartyHandlers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPartyHandlers[0].ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdPartyHandlers[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ThirdPartyHandlers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
