@page
@model RazorPagesMovie.Pages.FoodData.IndexModel

@{
    ViewData["Title"] = "Food";
}

<link rel="stylesheet" href="~/css/table.css" />




<div class="card mb-2" id="headbox">
    <div class="card-body text-center">
        <h2 class="m-0 display-6 display-md-5 display-lg-4">Foods</h2>
    </div>
</div>




<p>
    <a asp-page="Create" class="btn btn-primary btn-success">Add Food</a>
</p>
 
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].FoodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].FoodCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].FoodType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].FoodDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].PriceUSD)
                </th>
                <th>
                    Availability
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Food) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodCode)
                </td>
                <td>
                        @{
                            string FoodTypeText = item.FoodType switch
                            {
                               1 => "Food",
                               2 => "Beverage"
                            };
                        }
                        @FoodTypeText
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceUSD)
                    </td>
                <td>
                    @{
                        string IsAvailableText = item.IsAvailable switch
                        {
                            0 => "No",
                            1 => "Yes"
                        };
                    }
                    @IsAvailableText
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
